<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <title>tChat</title>
  </head>
  <body>
    <h1>Welcome to tChat</h1>
    <div class="texts" id="messages"></div>

    <input type="text" id="message" placeholder="Type a message..." />
    <button onclick="sendMessage()">Send</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
      const socket = io();

      function appendMessage(message) {
        const li = document.createElement("li");
        li.textContent = message;
        const messagesList = document.getElementById("messages");
        messagesList.insertBefore(li, messagesList.firstChild); // Prepend new message
      }

      function sendMessage() {
        const messageInput = document.getElementById("message");
        const message = messageInput.value;
        socket.emit("message_from_client", { message: message });
        messageInput.value = ""; // Clear the input field
      }

      function handleKeyPress(event) {
        if (event.key === "Enter") {
          sendMessage();
        }
      }

      // Bind Enter key press to the sendMessage function
      document
        .getElementById("message")
        .addEventListener("keypress", handleKeyPress);

      socket.on("message_from_server", function (data) {
        appendMessage(data.message);
      });
    </script>
  </body>
</html>
